.questions {
	// display: flex;
	// flex-direction: row;
	// justify-content: flex-start;
	// align-content: flex-start;
	margin-top: 20px;
	padding: 20px 5%;
	
	p {
	   margin: 5px 0 10px;
	   line-height: 20px;
	}
}




.question {
	// flex: 0 1 auto;
	border-bottom: 1px solid lightgray;
	padding: 10px 10px 10px 20px;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	width: 100%;

	&:first-of-type {
		border-top: 1px solid lightgray;
	}
}

.symptom {
	display: inline-block;
	width: 100%;
	// border: 2px solid red;
}
