.questions {
	// display: flex;
	// flex-direction: row;
	// justify-content: flex-start;
	// align-content: flex-start;
	// margin-top: 20px;
	padding: 15px 2% 25px 2%;
	
	p {
	   margin: 5px 0 10px;
	   line-height: 20px;
	}
}




.question {
	// flex: 0 1 auto;
	// border-bottom: 1px solid lightgray;
	padding: 5px 5px 5px 15px;
	padding: 0 0 0 15px;
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	width: 100%;

}

.symptom {
	display: inline-block;
	width: 100%;
	// border: 2px solid red;
}
