

body {
	background: #136f63;
	margin: 0 auto;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
}

.wrapper {
	width: 90%;
	max-width: 1080px;
	margin: 0 auto;
	text-align: center;
}

header {
	color: #eef0f2;
	padding: 50px 0;
	text-align: center;

}

form {
	background: #eef0f2;
	width: 55%;
	border-radius: 20px;
	margin: 0 auto 100px;

}


h1 {
	letter-spacing: 1px;
	margin: 0;
}

h2 {
	font-weight: lighter;
	font-size: medium;
	margin: 5px 0 0;
}

h3 {
	margin: 20px 0 0;
	font-size: 18px;
}

.questions {
	padding: 20px 0;
}


.questions p {
	margin: 5px 0 10px;
	font-size: 17px;
	line-height: 20px;
}

label {
	margin-right: 25px;
	font-size: 15px;
}

input[type=button] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
	width: auto;
	padding: 25px 35px;
	border-radius: 20px;
	border: none;
	color: #eef0f2;
	background: #0b3948;
	border: 3px solid transparent;
}

input[type=button]:hover {
	color: #0b3948;
	/* background: #eef0f2; */
	background: white;
	border: 3px solid #0b3948;
}


#submit {
	/* background: darkgreen; */
	/* height: 30vh; */
	padding: 20px 0;
}

#result {
	color: #0b3948;
	font-size: 30px;
	font-family: serif;
	margin: 20px 0;
}