body {
	background: #eef0f2;
	margin: 0 auto;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-size: 16px;
}

.wrapper {
	width: 80%;
	max-width: 1080px;
	margin: 0 auto;
}

header {
	color: #136f63;
	padding: 50px 0;
	text-align: center;

	p {
		font-size: 20px;
		font-weight: bold;
		line-height: 22px;
	}

}

main {
	background: white;
	border-radius: 20px;
	margin: 0 auto 5%;
	padding: 50px 10%;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-shadow: 0 1px 1px white;
}

h2 {
	font-weight: bold;
}

h3 {
	margin: 20px 0 10px 0;
	font-size: 20px;
}

p {
	margin: 0;
	line-height: 20px;
}


footer {
	padding: 15px 0;
	text-align: center;
	color: darkslategrey;
}