
.question {
	padding: 15px 20px;
	// overflow: hidden;
}

/* .switch-title {
  margin-bottom: 6px;
} */

.question input {
	position: absolute;
	opacity: 0.01;
	// clip-path: polygon(0 0)
	// visibility: hidden;
}


.question label {
	// float: left;
}

.question label {
	display: inline-block;
	width: 130px;
 	margin: 0;
	background-color: #e4e4e4;
	color: black;
	font-size: 14px;
	text-align: center;
	padding: 10px 20px;
	border:	1px solid black;
}

.question label:hover {
	cursor: pointer;
	background: #A5DC86;
}


.question input:checked + label, {
	background: green;
	color: white;
	-webkit-box-shadow: none;
	box-shadow: none;
}