.question input {
	transform: scale(1.5);
}


.question label {
	display: inline-block;
	width: 95%;
	vertical-align: middle;
	font-size: 15px;
 	margin: 0;
	padding: 10px 10px;
	
}

.question label:hover {
	cursor: pointer;
	background: #A5DC86;
}