@media (max-width: 1100px ) {
	main {
		margin: 0 auto;
		padding: 50px 5%;
	}
}

@media (max-width: 930px ) {
	.wrapper {
		width: 85%;
	}

	main {
		padding: 50px 5%;
	}
}


@media (max-width: 870px ) {

	header {
		padding: 20px 5%;

		h1 {
			font-size: 1.6rem;
		}

		p {
			font-size: 16px;
		}
	}

	main {
		padding: 20px 2.5%;
	}

	.risk-result-grid {
		div.container {
			width: 48%;
		}
		.container div {

			&:first-of-type {
				height: 2.7rem;
				font-size: 15px;
			}
		}

	}

	.reference {
		margin: 50px 0;
	}
}


@media (max-width: 660px ) {

	footer {
		display: none;
	}

	
	.wrapper {
		width: 100%;
		border-radius: 0;
		padding: 30px 5%;
	}

	header {
		padding: 20px 10px 15px 10px;
	}

	.questions {
		margin-top: 0;		
	}


	.risk-result-grid {
		div.container {
			width: 50%;
		}

		.container div {

			&:first-of-type {
				border: 1px solid blue;
				height: 3rem;
				font-size: 14px;
				padding: 15px 5px;
			}
		}

	}
	.reference {
		margin: 30px 0;
	}

}

@media (max-width: 510px ) {


	.question {
		
		label {
		width: 90%;
		}
		 input {
		transform: none;
		}		
	}
	
	.symptom, .user-answer {
		width: 100%;
	}

	.risk-result-grid {
		.container div {
			&:first-of-type {
				padding: 8px 5px;
			}
		}

	}

	
	.reference a div i {	
		display: none;
	}
	
}

@media (max-width: 400px ) {
	

	.risk-formula-grid div {
		text-align: right;
		padding-left: 15px;

		&:nth-of-type(1) {
			text-align: left;
		}
	}
		div.predictor {
			text-align: left;
		}

}