

input[type=submit] {
	padding: 10px 20px;
	font-size: 20px;
	float: right;
	border-radius: 10px;
	border: 1px transparent solid;
	background: white;
}


input[type=submit]:hover,
input[type=submit]:focus {
	text-decoration: underline;
	background: #A5DC86;
	border: 1px solid #D2EDC2;
	-webkit-box-shadow: 0 1px 3px#D2EDC2, 0 1px #D2EDC2;
	box-shadow:  0 1px 3px #D2EDC2, 0 1px #D2EDC2;
	cursor: pointer;
}

.result-and-content {
	background: #136f63;
	// height: 250px;
	font-family: sans-serif;
	color: white;
	padding: 20px 20px 50px 20px;
	margin-bottom: 60px;
	border-radius: 10px;
}

#points {
	font-size: 40px;
	display: block;
	font-weight: bold;
	margin-bottom: 20px;
}


#result {
	font-size: 20px;
	margin: 0;

}


// .risk-formula-grid,
// .risk-result-grid2 {
// 	margin: 40px 0;
// 	display: grid;
// 	color: #232323;
// 	grid-template-columns: 4fr 1fr 1fr; 
// 		div {
// 			border-bottom: 1px solid lightgrey;
// 			padding: 10px 20px;
// 		}
// 	.risk-formula-grid2 div:nth-of-type(1),
// 	.risk-formula-grid2 div:nth-of-type(3) {
// 		font-weight: bold;
// 	}
// }
 

// div.predictor {
// 	grid-row: span 2;
// 	text-align: left;
// 	padding: 30px 20px;
// }

// .risk-result-grid2 {
// 	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
// 	border-top: 1px solid lightgrey;
// 	border-left: none;
// 	border-right: none;

// 	div {
// 		border-left: 1px solid lightgrey;
// 		text-align: center;
// 	}

// 	& :nth-child(1),
// 	& :nth-child(7) {
// 		font-weight: bold;
// 		text-align: left;
// 		border-left: none;
// 	}
// }


// @supports (display: grid) {
.risk-formula-grid,
.risk-result-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
	margin: 40px auto;
	
	
	div.container {
			padding: 10px 20px;
			width: 35%;
			padding: 0;
			margin: 0;
			&:nth-of-type(2) {
				div {
					border-left: 2px solid lightgrey;
				}
			}


		}
		.container div {
			border-bottom: 1px solid lightgrey;
			padding: 10px;
			width: 100%;
			margin: 0;
			text-align: center;

			&:first-of-type {
				border-top: 1px solid lightgrey;
				font-weight: bold;
				height: 45px;
				padding: 10px 5px;
			}

		}

	}
// }








