

input[type=submit] {
	/* background: darkgreen; */
	/* height: 30vh; */
	padding: 10px 20px;
	font-size: 20px;
}

.result-and-content {
//	color: #0b3948;
	font-size: 30px;
	font-family: serif;
	// border: 2px solid blue;
	height: 400px;
}

#result {
	margin: 20px 0;
	background: green;
}