

input[type=submit] {
	/* background: darkgreen; */
	/* height: 30vh; */
	padding: 10px 20px;
	font-size: 20px;
	float: right;
	border-radius: 10px;
	border: 1px transparent solid;
	background: white;
}


input[type=submit]:hover,
input[type=submit]:focus {
	text-decoration: underline;
	background: #D2EDC2;
	background: #A5DC86;
	border: 1px solid #D2EDC2;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0 1px 3px#D2EDC2, 0 1px #D2EDC2;
	box-shadow:  0 1px 3px #D2EDC2, 0 1px #D2EDC2;
	cursor: pointer;
}

.result-and-content {
	background: #136f63;
	// height: 250px;
	font-family: sans-serif;
	color: white;
	padding: 20px 2% 50px 2%;
	margin-bottom: 60px;
	border-radius: 10px;
}

#points {
	// height: 30px;
	font-size: 50px;
	// display: block;
	font-weight: bold;
	margin: 0;
}


#result {
	margin: 20px 0; 
	font-size: larger;
	margin: 0;
}


.risk-formula-grid,
.risk-result-grid {
	margin: 40px 0;
	// border: 2px solid red;
	display: grid;
	color: #232323;
	grid-template-columns: 4fr 1fr 1fr; 
	// .wrapper {
		div {
//			margin: 0;
			// border: 1px solid blue;
			border-bottom: 1px solid lightgrey;
			// text-align: center;
			// background: lightcoral;
			padding: 10px 20px;
		}
		// div:nth-of-type(2) {
		// 	color: red;
		// 	grid-row: span 2;
		// }
	// }
	.risk-formula-grid div:nth-of-type(1),
	.risk-formula-grid div:nth-of-type(3) {
		font-weight: bold;
	}
}
 

div.predictor {
	grid-row: span 2;
	text-align: left;
	padding: 30px 20px;
}

.risk-result-grid {
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;

	div {
		border-left: 1px solid lightgrey;
		text-align: center;
	}

	& :nth-child(1),
	& :nth-child(7) {
		font-weight: bold;
		text-align: left;
		border-left: none;
	}
}

.risk-result-grid.mobile {
	display: none;
	grid-template-columns: 1fr 1fr;
		div	{
			text-align: center;
			font-weight: normal;
			border-left: none;

			&:nth-of-type(2n) {
				border-left: 1px solid lightgrey;
			}
		}

		& :nth-child(1),
		& :nth-child(2) {
			font-weight: bold;
		}
}
